@model PedidoViewModel

@{
    ViewData["Title"] = "Criar Pedido";
}

<!--Mensagens de erros-->
<vc:error-summary></vc:error-summary>

<!--Todas modals utilizadas-->
<partial name="_pedidoModalInserir"></partial>
<partial name="_pedidoModalEditar"></partial>
<partial name="_pedidoModalRemover"></partial>

<h1>@ViewData["Title"] </h1>

<!--Formualrio de envio-->
<form asp-action="Create" method="post" onsubmit="clearSearchAndSubmit()">

    <div class="accordion mt-5" id="accordionExample">
        
        <!--Accordions-->
        <partial name="_pedidoCliente" model="Model"></partial>
        <partial name="_pedidoItens" model="Model"></partial>

    </div>

    <!--Enviar lojas disponiveis como hidden somente ter os registros caso for necessario utilizar caso houver erros na requisicao, assim tera todas as informacoes necessarias-->
    @for (var i = 0; i < Model.Lojas.Count; i++)
    {
        <input name="Lojas[@i].Nome" value="@Model.Lojas[i].Nome" class="readonly-input-center" hidden="hidden" />
        <input name="Lojas[@i].Cep" value="@Model.Lojas[i].Cep" class="readonly-input-center" hidden="hidden" />
        <input name="Lojas[@i].Numero" value="@Model.Lojas[i].Numero" class="readonly-input-center" hidden="hidden" />
    }


    <div class="row mt-5">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="submit" class="btn btn-danger">Salvar</button>
            <button type="submit" class="btn btn-warning">Salvar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Pedido/pedido.js"></script>
    <script src="~/js/Pedido/pedidoModalInserir.js"></script>
    <script src="~/js/Pedido/pedidoModalEditar.js"></script>
    <script src="~/js/Pedido/pedidoModalRemover.js"></script>
}
