html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Nao precisa disto se for usar div para exibir os valores da tabela e deixa o input hidden*/
.readonly-input-center {
  border: none;
  background-color: transparent;
  color: inherit;
  pointer-events: none; /* Desativa a intera��o do usu�rio */
  text-align: center;
}

/*Nao precisa disto se for usar div para exibir os valores da tabela e deixa o input hidden*/
.readonly-input {
    border: none;
    background-color: transparent;
    color: inherit;
    pointer-events: none; /* Desativa a intera��o do usu�rio */
}

/*Nao precisa disto se for usar div para exibir os valores da tabela e deixa o input hidden*/
.readonly-input:focus {
  outline: none; /* Remove a borda de foco */
}



/*Cor do Icones da Tabela*/
.bi-check-circle {
    color: green;
}

.bi-x-circle {
    color: red;
}



/*Css para quebra a linha da tabela caso texto for grande */
.max-width-450 {
    max-width: 450px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}




/*Remove Seta do Input para numeros*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}



/*Se for usar Div que eh o ideal para ter responsividade nao precisa disto*/
/* Remove o ícone do calendário apenas dos campos com a classe no-calendar */
input[type="date"].no-calendar::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"].no-calendar::-webkit-inner-spin-button {
    display: none;
}

input[type="date"].no-calendar::-webkit-clear-button {
    display: none;
}



/* DATATABLES paginacao ajuste no css */
div.dt-container .dt-paging .dt-paging-button {
    padding: 0 !important;
    margin-left: 0 !important;
}

/*Para alterar cor da coluna*/
/*.colorir{
    background-color: cornflowerblue !important;
}*/